{% extends 'base/base.html' %}

{% block title %} blog {% endblock %}

{% block context %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="panel panel-default">
            <h2 class="sub-header">博客后台管理</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>文章名称</th>
                        <th>作者</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for all in all_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="/blog/blog_show/{{ all.id }}/">{{ all.title }}</a>
                            </td>
                            <td>{{ all.author }}</td>
                            <td>{{ all.date|date:"Y-m-d f:s" }}</td>
                            <td>
                                {#                                <a class="btn btn-danger" href="/blog/blog_edit/?id={{ all.id }}">#}
                                <a class="btn btn-danger" href="/blog/blog_edit/{{ all.id }}">
                                    <i class="fas fa-user-edit"></i> 编辑
                                </a>

                                <a class="btn btn-danger" href="/blog/blog_del/?id={{ all.id }}">
                                    <i class="fas fa-trash-alt"></i> 删除
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/blog/blog_add">
            <div class="btn btn-primary"><i class="fas fa-user-plus"></i> 添加文章</div>
        </a>

        <div class="col-md-offset-5">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ page_html|safe }}
                </ul>
            </nav>
        </div>

    </div>

{% endblock %}