{% load staticfiles %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{% url 'blog:index' %}">博客 </a></li>
                <li><a href="{% url 'blog:index' %}">Reports</a></li>
                <li><a href="{% url 'blog:index' %}">Analytics</a></li>
                <li><a href="{% url 'blog:index' %}">Export</a></li>
            </ul>
        </div>
    </div>
</div>
